export(create_dataset)
export(create_2d_dataset)
export(check_dataset)
export(check_2d_dataset)
export(sum_dataset)
export(sum_2d_dataset)
export(get_data)
export(get_data_as_df)
export(get_metadata)
export(get_metadata_var)
export(get_sample_names)
export(get_sample_2d_data)
export(get_x_values_as_text)
export(get_x_values_as_num)
export(get_x_label)
export(get_value_label)
export(get_type)
export(get_data_value)
export(get_metadata_value)
export(get_data_values)
export(num_samples)
export(num_x_values)
export(is_spectra)
export(x_values_to_indexes)
export(xvalue_interval_to_indexes)
export(indexes_to_xvalue_interval)
export(variables_as_metadata)
export(metadata_as_variables)
export(set_metadata)
export(set_x_values)
export(set_x_label)
export(set_value_label)
export(set_sample_names)
export(replace_data_value)
export(replace_metadata_value)
export(convert_to_factor)
export(merge_datasets)
export(low_level_fusion)
export(train_and_predict)
export(train_classifier)
export(predict_samples)
export(train_models_performance)
export(summary_var_importance)
export(multiClassSummary)
export(pca_plot_3d)
export(pca_analysis_dataset)
export(pca_importance)
export(pca_robust)
export(pca_screeplot)
export(pca_scoresplot2D)
export(pca_scoresplot3D_rgl)
export(pca_scoresplot3D)
export(pca_biplot)
export(pca_biplot3D)
export(pca_pairs_plot)
export(pca_kmeans_plot3D)
export(pca_kmeans_plot2D)
export(pca_pairs_kmeans_plot)
export(multiplot)
export(dataset_from_peaks)
export(read_multiple_csvs)
export(read_csvs_folder)
export(peak_detection2d)
export(peaks_per_sample)
export(peaks_per_samples)
export(find_equal_samples)
export(remove_peaks_interval)
export(remove_peaks_interval_sample_list)
export(get_peak_values)
export(values_per_peak)
export(values_per_sample)
export(boxplot_variables)
export(plot_spectra_simple)
export(plot_spectra)
export(plot_2d_spectra)
export(aov_all_vars)
export(multifactor_aov_all_vars)
export(fold_change)
export(plot_fold_change)
export(tTests_dataset)
export(plot_ttests)
export(volcano_plot_fc_tt)
export(correlations_dataset)
export(heatmap_correlations)
export(transmittance_to_absorbance)
export(absorbance_to_transmittance)
export(smoothing_interpolation)
export(savitzky_golay)
export(data_correction)
export(background_correction)
export(offset_correction)
export(baseline_correction)
export(shift_correction)
export(msc_correction)
export(first_derivative)
export(apply_by_variable)
export(apply_by_sample)
export(stats_by_variable)
export(stats_by_sample)
export(apply_by_group)
export(read_dataset_csv)
export(read_data_csv)
export(read_metadata)
export(read_dataset_dx)
export(read_data_dx)
export(get_samples_names_dx)
export(group_peaks)
export(normalize)
export(normalize_samples)
export(transform_data)
export(log_transform)
export(cubic_root_transform)
export(scaling)
export(scaling_samples)
export(count_missing_values)
export(count_missing_values_per_sample)
export(count_missing_values_per_variable)
export(missingvalues_imputation)
export(impute_nas_linapprox)
export(impute_nas_value)
export(impute_nas_mean)
export(impute_nas_median)
export(impute_nas_knn)
export(flat_pattern_filter)
export(subset_samples)
export(subset_samples_by_metadata_values)
export(subset_random_samples)
export(subset_x_values)
export(subset_x_values_by_interval)
export(subset_by_samples_and_xvalues)
export(subset_metadata)
export(remove_data)
export(remove_samples)
export(remove_data_variables)
export(remove_x_values_by_interval)
export(remove_metadata_variables)
export(remove_samples_by_nas)
export(remove_samples_by_na_metadata)
export(remove_variables_by_nas)
export(aggregate_samples)
export(merge_data_metadata)
export(feature_selection)
export(recursive_feature_elimination)
export(filter_feature_selection)
export(convert_from_chemospec)
export(clustering)
export(hierarchical_clustering)
export(kmeans_clustering)
export(kmeans_result_df)
export(kmeans_plot)
export(dendrogram_plot)
export(dendrogram_plot_col)
export(read_ms_spectra)
export(read_dataset_spc)
export(get_samples_names_spc)
export(read_data_spc)
export(multifactor_aov_pvalues_table)
export(snv_dataset)
export(mean_centering)
export(multifactor_aov_varexp_table)
export(linregression_onevar)
export(linreg_all_vars)
export(linreg_coef_table)
export(linreg_pvalue_table)
export(linreg_rsquared)
export(boxplot_vars_factor)
export(plotvar_twofactor)
export(apply_by_groups)
export(plot_regression_coefs_pvalues)
export(correlation_test)
export(correlations_test)
export(MAIT_identify_metabolites)
export(fold_change_var)
export(compare_regions_by_sample)
export(plot_anova)
export(ksTest_dataset)
export(kruskalTest_dataset)
export(plot_kstest)
export(plot_kruskaltest)
export(nmr_identification)
export(get_cpd_names)
export(convert_hmdb_to_kegg)
export(convert_chebi_to_kegg)
export(convert_multiple_spcmnm_to_kegg)
export(get_OrganismsCodes)
export(get_metabPaths_org)
export(get_paths_with_cpds_org)
export(pathway_analysis)
export(read_varian_spectra_raw)
export(read_varian_2dspectra_raw)
export(read_Bruker_files)
export(read_Bruker_files_2d)
export(detect_nmr_peaks_from_dataset)
export(plot_peaks)
export(metabolights_studies_list)
export(get_files_list_per_assay)
export(get_metabolights_study_samples_files)
export(get_metabolights_study_files_assay)
export(get_metabolights_study_metadata_assay)
export(get_metabolights_study)
importFrom(Metrics, auc)
importFrom(caret, defaultSummary)
importFrom("grDevices", "colorRampPalette", "dev.flush", "dev.hold", "palette")
importFrom("graphics", "abline", "arrows", "axis", "box", "boxplot","legend", "lines", "matplot", "par", "plot", "text")
importFrom("methods", "new")
importFrom("stats", "IQR", "TukeyHSD", "aggregate", "aov", "approx","as.dendrogram", "convolve", "cor", "dendrapply", "density",
             "dist", "hclust", "heatmap", "is.leaf", "kmeans", "kruskal.test", "ks.test", "lm", "mad", "median",
             "p.adjust", "prcomp", "predict", "quantile", "reformulate", "sd", "spline", "dhyper")
importFrom("utils", "head", "modifyList", "read.csv", "read.table",
             "str", "tail", "write.csv")
importFrom("readJDX", "readJDX")
importFrom("stats", "na.exclude", "na.omit")
importFrom("utils", "data", "unzip")