export(create.dataset)
export(check.dataset)
export(sum.dataset)
export(get.data)
export(get.data.as.df)
export(get.metadata)
export(get.metadata.var)
export(get.sample.names)
export(get.x.values.as.text)
export(get.x.values.as.num)
export(get.x.label)
export(get.value.label)
export(get.type)
export(get.data.value)
export(get.metadata.value)
export(get.data.values)
export(num.samples)
export(num.x.values)
export(is.spectra)
export(x.values.to.indexes)
export(xvalue.interval.to.indexes)
export(indexes.to.xvalue.interval)
export(variables.as.metadata)
export(metadata.as.variables)
export(set.metadata)
export(set.x.values)
export(set.x.label)
export(set.value.label)
export(set.sample.names)
export(replace.data.value)
export(replace.metadata.value)
export(convert.to.factor)
export(merge.datasets)
export(low.level.fusion)
export(train.and.predict)
export(train.classifier)
export(predict.samples)
export(train.models.performance)
export(summary.var.importance)
export(multiClassSummary)
export(pca.plot.3d)
export(pca.analysis.dataset)
export(pca.importance)
export(pca.robust)
export(pca.screeplot)
export(pca.scoresplot2D)
export(pca.scoresplot3D.rgl)
export(pca.scoresplot3D)
export(pca.biplot)
export(pca.biplot3D)
export(pca.pairs.plot)
export(pca.kmeans.plot3D)
export(pca.kmeans.plot2D)
export(pca.pairs.kmeans.plot)
export(dataset.from.peaks)
export(read.multiple.csvs)
export(read.csvs.folder)
export(peaks.per.sample)
export(peaks.per.samples)
export(find.equal.samples)
export(remove.peaks.interval)
export(remove.peaks.interval.sample.list)
export(get.peak.values)
export(values.per.peak)
export(values.per.sample)
export(boxplot.variables)
export(plot.spectra.simple)
export(plot.spectra)
export(univariate.analysis)
export(aov.all.vars)
export(multifactor.aov.all.vars)
export(fold.change)
export(plot.fold.change)
export(tTests.dataset)
export(plot.ttests)
export(volcano.plot.fc.tt)
export(correlations.dataset)
export(heatmap.correlations)
export(transmittance.to.absorbance)
export(absorbance.to.transmittance)
export(smoothing.interpolation)
export(savitzky.golay)
export(data.correction)
export(background.correction)
export(offset.correction)
export(baseline.correction)
export(shift.correction)
export(msc.correction)
export(first.derivative)
export(convert.from.hyperspec)
export(convert.to.hyperspec)
export(apply.by.variable)
export(apply.by.sample)
export(stats.by.variable)
export(stats.by.sample)
export(apply.by.group)
export(read.dataset.csv)
export(read.data.csv)
export(read.metadata)
export(read.dataset.dx)
export(read.data.dx)
export(get.samples.names.dx)
export(group.peaks)
export(normalize)
export(normalize.samples)
export(transform.data)
export(log.transform)
export(cubic.root.transform)
export(scaling)
export(scaling.samples)
export(count.missing.values)
export(count.missing.values.per.sample)
export(count.missing.values.per.variable)
export(missingvalues.imputation)
export(impute.nas.linapprox)
export(impute.nas.value)
export(impute.nas.mean)
export(impute.nas.median)
export(impute.nas.knn)
export(flat.pattern.filter)
export(subset.samples)
export(subset.samples.by.metadata.values)
export(subset.random.samples)
export(subset.x.values)
export(subset.x.values.by.interval)
export(subset.by.samples.and.xvalues)
export(subset.metadata)
export(remove.data)
export(remove.samples)
export(remove.data.variables)
export(remove.x.values.by.interval)
export(remove.metadata.variables)
export(remove.samples.by.nas)
export(remove.samples.by.na.metadata)
export(remove.variables.by.nas)
export(aggregate.samples)
export(merge.data.metadata)
export(feature.selection)
export(recursive.feature.elimination)
export(filter.feature.selection)
export(convert.from.chemospec)
export(clustering)
export(hierarchical.clustering)
export(kmeans.clustering)
export(kmeans.result.df)
export(kmeans.plot)
export(dendrogram.plot)
export(dendrogram.plot.col)
export(read.ms.spectra)
export(read.dataset.spc)
export(get.samples.names.spc)
export(read.data.spc)
export(multifactor.aov.pvalues.table)
export(snv.dataset)
export(mean.centering)
export(multifactor.aov.varexp.table)
export(linregression.onevar)
export(linreg.all.vars)
export(linreg.coef.table)
export(linreg.pvalue.table)
export(linreg.rsquared)
export(boxplot.vars.factor)
export(plotvar.twofactor)
export(apply.by.groups)
export(multiplot)
export(plot.regression.coefs.pvalues)
export(correlation.test)
export(correlations.test)
export(mzmatch.identify.metabolites)
export(MAIT.identify.metabolites)
export(fold.change.var)
export(compare.regions.by.sample)
export(plot.anova)
importFrom(Metrics, auc)
importFrom(caret, defaultSummary)
