export(create.dataset)
export(check.dataset)
export(sum.dataset)
export(get.data)
export(get.data.as.df)
export(get.metadata)
export(get.metadata.var)
export(num.samples)
export(num.x.values)
export(is.spectra)
importFrom(Metrics, auc)